<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets_old/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets_old/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title> IOT PROJECT </title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='assets_old/css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static', filename='assets_old/css/animate.min.css') }}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{{ url_for('static', filename='assets_old/css/paper-dashboard.css') }}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ url_for('static', filename='assets_old/css/demo.css') }}" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='assets_old/css/themify-icons.css') }}" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    IOT PROJECT 
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="18.217.189.252">
                        <i class="ti-panel"></i>
                        <p>Tableau de bord</p>
                    </a>
                </li>
               
            </ul>
    	</div>
    </div>

    <div class="main-panel">
       <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Amar KANTAS Loic COVAREL Florian AUDON Quentin FLEURY 5IRC</a>
                </div>
</nav>
<!--<p style="color:red">        Dictionnary is :  <p>{{variable4.viewitems()}}</p></p>
<h1>loop dictionnary</h1>

   {% for key, value in variable4.items() %}
       <p>Key: {{key}}</p>
       {% for key2, value2 in value.items() %}
        <p>Key: {{key2}}</p>
        {{value2["date"]}}
        {{value2["value"]}}
       {% endfor %} 
   {% endfor %}-->
<!-- Button trigger modal -->
<!-- Trigger the modal with a button -->
 <!-- Trigger/Open the Modal -->


        <div class="content">
            <div class="container-fluid">

                 {% for key, value in variable4.items() %}
                <div class="row">
                    <h4>Groupe  {{ key }}</h4>
                    <hr/>
                    {% for key2, value2 in value.items() %}
	                <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>{{key2}}</p>
                                            {{value2["value"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-time"></i>  Date du relevé: <p>{{value2["date"]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %} 
                    </div>
                 {% endfor %}
            </div>
               

    </div>
</div>

</body>

    <!--   Core JS Files   -->
    <script src="{{ url_for('static', filename='assets_old/js/jquery-1.10.2.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='assets_old/js/bootstrap.min.js') }}" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{{ url_for('static', filename='assets_old/js/bootstrap-checkbox-radio.js') }}"></script>

	<!--  Charts Plugin -->
	<script src="{{ url_for('static', filename='assets_old/js/chartist.min.js') }}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static', filename='assets_old/js/bootstrap-notify.js') }}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="{{ url_for('static', filename='assets_old/js/paper-dashboard.js') }}"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="{{ url_for('static', filename='assets_old/js/demo.js') }}"></script>

	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'ti-gift',
            	message: "Bienvenue sur LAFQ service  <b>API iot porject</b>."

            },{
                type: 'success',
                timer: 4000
            });

    	});

      
    //$("#exampleModal").modal("show");

	</script>

</html>
