<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>IOT PROJECT</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/node_modules/font-awesome/css/font-awesome.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/node_modules/flag-icon-css/css/flag-icon.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
	<link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
	<div class=" container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="bg-white text-center navbar-brand-wrapper">
				<a class="navbar-brand brand-logo" href="#"><img src="{{ url_for('static', filename='assets/images/iot-project-logo.png') }}" /></a>

			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center">
				<button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
					<span class="navbar-toggler-icon"></span>
				</button>

				<ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">

				</ul>
				<button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>

		<!-- partial -->
		<div class="container-fluid">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:partials/_sidebar.html -->
				<nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">

					<ul class="nav">
						<li class="nav-item active">
							<a class="nav-link" href="#">
								<img src="static/assets/images/icons/1.png" alt="">
								<span class="menu-title">Amar KANTAS</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">
								<img src="static/assets/images/icons/1.png" alt="">
								<span class="menu-title">Florian AUDON</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">
								<img src="static/assets/images/icons/1.png" alt="">
								<span class="menu-title">Quentin FLEURY</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">
								<img src="static/assets/images/icons/1.png" alt="">
								<span class="menu-title">Loic COVAREL</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" onClick="how();" href="#">
								<img src="static/assets/images/icons/1.png" alt="">
								<span class="menu-title">How it works?</span>
							</a>
						</li>
					</ul>
				</nav>

				<!-- partial -->
				<div class="content-wrapper">
					
					{% for key, value in variable4.items() %}
					<!--groupe1-->
					<h3 class="page-heading mb-4">Groupe {{ key }}</h3>

					<div class="row">
						{% for key2, value2 in value.items() %}
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
							<div class="card card-statistics">
								<div class="card-body">
									<div class="clearfix">
										<div class="float-left">
											<h4 class="text-danger">
												<i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
											</h4>
										</div>
										<div class="float-right">
											<p class="card-text text-dark">{{key2}}</p>
											<h4 class="bold-text">{{value2["value"]}}</h4>
										</div>
									</div>
									<p class="text-muted">
										<i class="fa fa-clock-o mr-1" aria-hidden="true"></i>{{value2["date"]}}


									</p>
									<a  class="btn btn-primary pull-right" onClick="get_data_sensor('{{key}}','{{key2}}');">
										<i class="fa fa-search" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						{% endfor %} 
					</div>
					<!--end groupe1-->
					{% endfor %} 

				</div>






				<div class="modal fade" id="sensor_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Nombre de donnée enregistrée par ce capteur: <span id="nb_data"></span></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<div id="loader" style="text-align: center;">
									<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
									<p>Chargement en cours...</p>
								</div>
								<canvas id="myChart" width="30" height="10"></canvas>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>



				<div class="modal fade" id="modal_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Envoyer ses données à l'API: <span id="nb_data"></span></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Il s'agit d'une API développée en Python par Amar, Florian, Quentin et Loic dans le but de notre projet IOT permettant d'afficher les données collectées des différents capteurs.
									<ul>
										<li>Formation: Ecole d'ingénieur en Informatique et Réseau de Communication</li>
										<li>Etablissement: CPE Lyon</li>
										<li>Promo : IRC5 2015-2018 & année: 5</li>
									</ul>
								</p>
								<p>L'url à utiliser lors de vos requêtes vers le could est la suivante:</p>
								<p>http://18.217.189.252/groupe_detector/NOM DE VOTRE GROUPE/set_detector/NOM DE VOTRE CAPTEUR/DONNEE A ENVOYER
								</p>

								<h6>Exemple avec le groupe RMLA:</h6>

								<p>http://18.217.189.252/groupe_detector/RMLA/set_detector/Meteo/valeur
									<p> valeur est la variable contenant la valeur à  récupérer par votre beaglebone et à transmettre au cloud</p>
								</p>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>

				<!-- partial -->
			</div>
		</div>

	</div>


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>


	<script>
		function graph(detector_name,labels,dataCap){


			var ctx = document.getElementById("myChart");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: labels,
					datasets: [{
						label: detector_name,
						data: dataCap,
						backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
						'rgba(255,99,132,1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			});
		}
	</script>
	<script src="{{ url_for('static', filename='assets/node_modules/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/node_modules/chart.js/dist/Chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script>
	<script src="{{ url_for('static', filename='assets/js/off-canvas.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/hoverable-collapse.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/misc.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/chart.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/maps.js') }}"></script>


	<script type="text/javascript">
		function get_data_sensor(groupe_name,detector_name){

			$("#sensor_modal").modal("show");

			$.ajax({
				url : 'http://18.217.189.252/get_data/'+groupe_name+'/'+detector_name,
				type : 'GET',
				dataType : 'json',
				success : function(data, statut){ 

					var labels = [], datagraph=[];

					$.each( data, function( key, value ) {

						console.log("parcours:"+key,value );

						labels.push(key);

						datagraph.push(parseFloat(value));
					});

					console.log("result labels"+ labels + ":result data " + datagraph );

					$("#loader").hide();

					$("#nb_data").text(datagraph.length);
					graph(detector_name,labels,datagraph);

				},

				error : function(resultat, statut, erreur){

				}
			});

		}

		function how(){

			$("#modal_info").modal("show");
		}
	</script>
</body>

</html>
